* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Exo 2";
}

:root {
	--header: #f8f0df;
	--body: #fefbf3;
	--footer: lightgrey;

	--enfasis: #91c0fc;
	--enfasis-hover: #88b4ec;

	--nav-hover: #f1ede2;

	--boton: #fefbf3;
	--boton-hover: #f1ede2;

	--carta-fondo: #fefbf3;
	--carta-hover: #f1ede2;
}

.cuerpo-pagina {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	background-color: var(--body);
	min-width: min-content;
	max-width: 100%;
}

main {
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	height: min-content;
	background-color: var(--body);
}

.encabezado-pagina {
	display: flex;
	background-color: var(--header);
	flex-direction: column;
	padding: 2em;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
	min-width: 100%;
}

.encabezado-pagina img {
	height: 10em;
}

.encabezado-pagina nav {
	display: flex;
	width: 100%;
	border-radius: 1em;
	overflow: hidden;
	border-bottom: 1px solid black;
	box-shadow: 2px 2px 5px grey;
}

.encabezado-pagina nav a {
	width: 100%;
	text-decoration: none;
	color: black;
	padding: 0.5em;
	text-align: center;
	font-size: 1.5em;
	background-color: var(--boton);
}

.encabezado-pagina nav a:nth-child(1),
.encabezado-pagina nav a:nth-child(2) {
	border-right: 1px solid grey;
}

.encabezado-pagina nav a:hover {
	background-color: var(--nav-hover);
}

.cuenta {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-radius: 2em;
	overflow: hidden;
	box-shadow: 2px 2px 5px;
}

.cuenta button {
	padding: 0.5em;
	width: 100%;
	border: none;
	font-weight: bold;
	font-size: 1.5em;
	background-color: var(--boton);
	cursor: pointer;
}

.cuenta button:hover {
	background-color: var(--boton-hover);
}

#iniciarSesion {
	background-color: var(--enfasis);
}

#iniciarSesion:hover {
	background-color: var(--enfasis-hover);
}

section {
	padding: 2em;
	display: flex;
	min-height: 90vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2em;
	max-width: 800px;
}

section:not(.presentacion) {
	min-height: min-content;
	margin: 2em 0;
}

.presentacion {
	gap: 3em;
	width: 100%;
	max-width: none;
	background-image: 
		linear-gradient(
			var(--header), 
			rgba(255, 255, 255, 0.7),
			rgba(255, 255, 255, 0.7),
			var(--body)),
		url("../img/Presentacion.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.presentacion h2 {
	font-size: 3em;
	text-align: center;
}

.presentacion button {
	cursor: pointer;
	font-size: 2em;
	padding: 0.4em;
	border-radius: 15px;
	border: 1px solid #0000007e;
	background-color: var(--enfasis);
	font-weight: bold;
	box-shadow: 2px 2px 10px #0000007e;
	border: none;
}

.presentacion button:hover {
	background-color: var(--enfasis-hover);
}

.encabezado {
	font-size: 1.5em;
}

.contenido {
	align-items: center;
	justify-content: center;
	height: fit-content;
	display: flex;
	gap: 1em;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
}

.carta {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	align-items: center;
	justify-content: space-evenly;
	background-color: var(--carta-fondo);
	padding: 1em;
	border-radius: 20px;
	box-shadow: 2px 2px 10px;
	height: 200px;
	cursor: pointer;
}

.carta:hover {
	background-color: var(--carta-hover);
}

.productos .carta {
	height: min-content;
	max-width: 13em;
}

.carta img {
	width: 100px;
	height: 100px;
	border-radius: 10px;
}

.carta h3 {
	text-align: center;
}

.etiquetas {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0;
	text-align: center;
	min-height: min-content;
	gap: 0.2em;
}

.etiqueta {
	color: white;
	background-color: grey;
	padding: 0.2em 0.7em;
	border-radius: 2em;
}

.categoria {
	background-color: lightgreen;
	color: black;
}

.tienda {
	background-color: lightskyblue;
	color: black;
}

.pie-pagina {
	background-color: var(--footer);
	padding: 2em;
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: space-evenly;
	min-width: 100%;
}

.pie-pagina ul {
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px 5px;
	border-radius: 10px;
	padding: 1em;
	list-style: none;
	height: 100%;
	width: 250px;
	min-width: 200px;
	justify-content: space-between;
}

.pie-pagina li {
	font-size: 1.2em;
	margin-left: 1em;
}

.pie-pagina h4 {
	font-size: 1.3em;
}

@media (min-width: 800px) {
	.encabezado-pagina {
		display: grid;
		grid-template-columns: 1fr 3fr 1fr;
		justify-items: center;
	}
	.encabezado-pagina img {
		height: 10em;
	}
	.cuenta {
		flex-direction: column;
		border-radius: 0;
		gap: 1em;
		box-shadow: none;
		padding: 1em;
	}

	.cuenta button {
		font-size: 1.1em;
		box-shadow: 2px 2px 5px black;
	}
}
